[user]
email = thiago@streamlit.io
name = Thiago Teixeira

[credential]
helper = cache --timeout=86400

[fetch]
prune = true

[merge]
conflictStyle = diff3  # For vim_mergetool
tool = vim_mergetool

[mergetool "vim_mergetool"]
cmd = nvim -f -c "MergetoolStart" "$MERGED" "$BASE" "$LOCAL" "$REMOTE"
trustExitCode = true

[mergetool "fugitive"]
cmd = nvim -f -c "Gdiffsplit!" "$MERGED"

[core]
quotepath = false
commitGraph = true

[gc]
writeCommitGraph = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
