[user]
email = thiago@streamlit.io
name = Thiago Teixeira

[credential]
helper = cache --timeout=86400

[fetch]
prune = true

[merge]
tool = vimdiff

[mergetool "splice"]
cmd = "nvim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
trustExitCode = true
