[user]
email = thiago@streamlit.io
name = Thiago Teixeira

[credential]
helper = cache --timeout=86400

[merge]
tool = vimdiff
#tool = splice

[mergetool "splice"]
cmd = "nvim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
trustExitCode = true
